body {
    padding: 10px;
}

.sidebar-container {
  position: fixed;
  width: 20%;
  height: 100%;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background: whitesmoke;
  color: #fff;
}
  
.sidebar-navigation {
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: relative;
}
  
.sidebar-navigation li {
  background-color: transparent;
  position: relative;
  display: inline-block;
  width: 100%;
  line-height: 20px;
}
  
.sidebar-navigation li a {
  padding: 10px 15px 10px 20px;
  display: block;
  color: #007bff;
  width: 100%;
  height: 40px;
}
  
.sidebar-navigation li a:active,
.sidebar-navigation li a:focus,
.active {
  text-decoration: none;
  outline: none;
  color: #f37021;
  background-color: #e3dcdc;
}

.active span, .border-left-color {
  color: #f37021;  
}

.sidebar-navigation li::before {
  background-color: #e3dcdc;
  position: absolute;
  content: '';
  height: 100%;
  left: 0;
  top: 0;
  // -webkit-transition: width 0.2s ease-in;
  // transition: width 0.2s ease-in;
  width: 3px;
  z-index: -1;
}
  
.sidebar-navigation li:hover::before {
  width: 100%;
}