<concert-navbar-io [navbar]="navbarSettings" (onLogoutClick)="logout()" (onApplyFilters)="applyFilters($event)"></concert-navbar-io>
<concert-timeline-io *ngIf="timelineConfig" [config]="timelineConfig"></concert-timeline-io>
<concert-cardfeed-io *ngIf="eventFeedConfig" [cards]="cards" [config]="eventFeedConfig" [multiCardButtons]="multiCardButtons"></concert-cardfeed-io>

<ng-template #modalConfirmation let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ modalTitle }}</h4>
    <button type="button" class="close" aria-label="Fechar" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="modalSelect">
      <div *ngIf="userList?.length > 0">
        <label for="userList" style="margin-right: 10px">Destinatário: </label>
        <input id="typeahead-focus" type="text" class="form-control" [(ngModel)]="receiverUser" [ngbTypeahead]="search"
          (focus)="focus$.next($any($event).target.value)" (click)="click$.next($any($event).target.value)"
          #instance="ngbTypeahead" />
      </div>
      <div *ngIf="!userList || userList.length == 0">
        Não há outros usuários ativos para fazer o encaminhamento.
      </div>
    </div>
    <div *ngIf="modalComment">
      <div class="form-group">
        <label for="rejectComment">Comentário:</label>
        <div class="input-group">
          <input type="text" class="form-control" [(ngModel)]="actionCardComment">
        </div>
      </div>
    </div>
    <div *ngIf="modalInformation">
      <p>{{ modalFirstInformationText }}</p>
      <p>{{ modalSecondInformationText }}</p>
    </div>
    <div *ngIf="modalMessage" class="modal-body">
      <h6>{{ modalMessage }}</h6>
    </div>
  </div>
  <div class="modal-footer" *ngIf="!acceptedEvent">
    <div *ngIf="!(eventsToRemove.length > 0)">
      <button [disabled]="!(validateComment() || inactivatedUser)" type="button"
        class="btn btn-outline-dark" (click)="modal.close(actionCardComment);">Confirmar</button>
    </div>
    <div *ngIf="(eventsToRemove.length > 0)">
      <button type="button" class="btn btn-success mr-2" (click)="modal.close(removeEvents())">Sim</button>
      <button type="button" class="btn btn-warning mr-2" (click)="modal.close(eventsToRemove = [])">Não</button>
    </div>
  </div>
</ng-template>