.title-container{
    margin: 1rem;
}

.title-edit-container {
    margin: 1rem;
    display: flex;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.eventColor {
    width: 100px;
}

.invalid-checkbox-feedback {
    display: block;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}