<div class="app-container">
    <div class="page-container">
        <div class="title-container">
            <h3 class="text-center">Customização</h3>
        </div>
    </div>
    <div class="page-container">
        <div class="col-sm title-edit-container">
            <h3>Timeline</h3>
            <div class="pull-right">
                <button class="btn btn-sm btn-primary" id="btnSave" (click)="openModal()">
                    <i class="fa fa-save"></i> Salvar
                </button>
            </div>
        </div>
        <div id="configManagementContainer" class="container-fluid">
            <br>
            <form class="row pt-2 page-body" *ngIf="configForm"  id="configForm" [formGroup]="configForm">
                <div class="col-12 col-md-2 col-lg-3">
                    <div class="form-group form-group-icon">
                        <label for="graphBackgroundColor" class="text-cinza pt-2">Cor de Fundo Timeline</label>
                        <input class="form-control color" type="color" id="graphColor" formControlName="graphBackgroundColor">
                    </div>
                    <i class="ft-account form-icon"></i>
                </div>
                <div class="col-12 col-md-2 col-lg-3">
                    <div class="form-group form-group-icon">
                        <label for="currentTimeColor" class="text-cinza pt-2">Tempo atual</label>
                        <input class="form-control color" type="color" id="currentTimeColor" formControlName="currentTimeColor">
                    </div>
                    <i class="ft-account form-icon"></i>
                </div>
                <div class="col-12 col-md-2 col-lg-3">
                    <div class="form-group form-group-icon">
                        <label for="resumeBackgroundColor" class="text-cinza pt-2">Cor de Fundo Resumo</label>
                        <input class="form-control color" type="color" id="resumeColor" formControlName="resumeBackgroundColor">
                    </div>
                    <i class="ft-account form-icon"></i>
                </div>
                <div class="col-12">
                    <hr>
                </div>
                <div class="col-12 col-md-2 col-lg-3">
                    <div class="form-group form-group-icon">
                        <label for="fontColor" class="text-cinza pt-2">Cor da Fonte</label>
                        <input class="form-control color" type="color" id="fontColor" formControlName="fontColor">
                        <i class="ft-account form-icon"></i>
                    </div>
                </div>
                <div class="col-12 col-md-2 col-lg-2">
                    <div class="form-group form-group-icon">
                        <label for="fontSize" class="text-cinza pt-2">Tamanho da fonte</label>
                        <input type="number" min="0" class="form-control" id="fontSize" formControlName="fontSize">
                        <i class="ft-account form-icon"></i>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4">
                    <div class="form-group form-group-icon">
                        <label for="fontFamily" class="text-cinza pt-2">Fonte</label>
                        <select class="form-control" id="fontFamily" name="fontFamily" id="fontFamily" formControlName="fontFamily">
                            <option *ngFor="let f of standardFonts" [ngValue]="f">
                                {{f}}
                            </option>
                        </select>
                        <i class="ft-account form-icon"></i>
                    </div>
                </div>
                <div class="col-12">
                    <hr>
                </div>
                <div class="col-12 col-md-4 col-lg-4">
                    <div class="form-group form-group-icon">
                        <label for="heigth" class="text-cinza pt-2">Altura (px)</label>
                        <input class="form-control" type="number" id="height" formControlName="heigth">
                        <i class="ft-account form-icon"></i>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4">
                    <div class="form-group form-group-icon">
                        <label for="scale" class="text-cinza pt-2">Escala (horas)</label>
                        <input class="form-control" type="number" id="scale" formControlName="scale">
                        <i class="ft-account form-icon"></i>
                    </div>
                </div>
            </form>
        </div>

        <ng-template #modalConfirm let-modal>
            <div class="modal-header">
                <h5 class="modal-title pull-left">Confirmação</h5>
                <button type="button" class="close pull-right" aria-label="Close" id="btnClose" (click)="modal.close()">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6>{{ modalMessage }}</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="btnConfirm" (click)="saveConfirm()">Sim</button>
                <button type="button" class="btn btn-warning" id="btnCancel" (click)="modal.close()">Não</button>
            </div>
        </ng-template>
    </div>
</div>