<div class="content" *ngIf="events">
  <span class="title">
    Alerta de Medição Suspeita
  </span>
  <button class="btn btn-success btn-sm" *ngIf="userHasPermission('EventHypervision', 'AddActionOnEvent', 'edit') && showButton('approveMeasurement')" (click)="approveMeasurement()">Aprovar</button>
  <button class="btn btn-danger btn-sm" *ngIf="userHasPermission('EventHypervision', 'AddActionOnEvent', 'edit') && showButton('disapproveMeasurement')" (click)="disapproveMeasurement()">Desaprovar</button>

  <div class="divider"></div>
  <div class="details">
    <p><label>Tag:</label> {{lastEvent.cardDetails.tag}}</p>
    <p><label>Grupo:</label> {{lastEvent.cardDetails.group}}</p>
    <p><label>Classe:</label> {{lastEvent.cardDetails.class}}</p>
    <p><label>Remota:</label> {{lastEvent.cardDetails.tagRem}}</p>
    <p><label>Prioridade:</label> {{lastEvent.cardDetails.priority}}</p>
    <p><label>Estado do Alarme:</label> {{lastEvent.cardDetails.alarmStatus}}</p>
    <p><label>Valor do Alarme:</label> {{lastEvent.cardDetails.alarmValue}}</p>
  </div>
  <div class="divider"></div>
  <div class="container"></div>
  <!-- <div id="container" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div> -->
  <div [chart]="chart"></div>
</div>
<ng-template #modal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">{{modalTitle}}</h5>
    <button type="button" class="close btn-sm" aria-label="Fechar" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <div class="form-group">
        <label for="comment">Comentário</label>
        <div class="input-group">
          <input type="text"  class="form-control" [(ngModel)]="comment">
        </div>
      </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary btn-sm" (click)="modal.close(coment);" [disabled]="!validateComment()">{{modalButton}}</button>
  </div>
</ng-template>
<concert-loading-io></concert-loading-io>
