<div class="content" *ngIf="events">
  <span class="title">
    Religamento Automático - {{lastEvent.level}}
  </span>

  <div class="divider"></div>
  <div class="details">
    <p><label>Ciclo:</label> {{cycle}}</p>
    <p><label>Estado:</label> {{status}}</p>
    <p *ngIf="lastEvent.cardDetails.regions != null"><label>Regiões:</label> {{lastEvent.cardDetails.regions.join(",")}}</p>
  </div>
  <div class="divider"></div>

  <div class="events">
    <table class="table table-dark">
      <thead>
        <tr>
          <ng-container *ngFor="let c of columns">
            <td>{{c}}</td>
          </ng-container>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let eventProperties of lastEvent.cardDetails.properties">
          <ng-container *ngFor="let prop of eventProperties">
            <td>{{prop.value}}</td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>

</div>

<concert-loading-io></concert-loading-io>
