<div class="layout__body">
  <div class="layout__header">
    <concert-navbar-io [navbar]="navbarSettings" (onLogoutClick)="logout()" (onApplyFilters)="applyFilters($event)"></concert-navbar-io>
  </div>
  <div class="layout__aside" style="background-color: whitesmoke;">
    <app-drawer></app-drawer>
  </div>
  <div class="layout__main">
    <router-outlet></router-outlet>
  </div>
</div>
