.layout__body {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
  }
  
  .layout__header {
    flex-basis: 100%;
  }
  
  .layout__aside {
    flex-basis: 20%;
    height: calc(100% - 60px);
  }
  
  .layout__main {
    flex-basis: 80%;
    height: calc(100% - 60px);
    overflow: auto;
  }
  
  .header {
    margin: 1rem;
  
    .header-title {
      text-align: center;
    }
  
    .header-actions {
      display: flex;
      justify-content: flex-end;
  
      .btn {
        margin-right: 0.5rem;
      }
    }
  }
  
  
  .hidden {
    display: none;
  }